In [3]:
#Q.1. Write a code to convert the string “Practice” into list.
string = 'practice'
list1 = list(string)
list1

['p', 'r', 'a', 'c', 't', 'i', 'c', 'e']

In [7]:
#Q.2. Write the output of the following:
d = "a*hj?"
list(d)

['a', '*', 'h', 'j', '?']

In [9]:
#Q.3. Write the output of the following:

a = input("Enter any String")
#Enter any String : Practice 
list(a)

Enter any StringPractice

['P', 'r', 'a', 'c', 't', 'i', 'c', 'e']

In [10]:
#Q.4.. Write the output of the following

a = [1,2,3,4,5]
print(a[0])
print(a[-1])
print(a[2])
print(a[-2])
print(a[1])

1
5
3
4
2

In [18]:
#Q.5. Write the output of the following :

#S. No Code              Output
[1,2,3,4] == [4,3,2,1] #false
[1,2,3,4] >  [4]       #false
[1,2,3,4] != [1,2,3,4] #false
[1,2,3,4] == [1,2,[3,4]] #false
[1,2,3] == [1.0,2.0,3.0] #true
a = [1,2,3,4]
b = [5,6,7,8,]
a+b

[1, 2, 3, 4, 5, 6, 7, 8]

In [32]:
#Q.6. Write the output of the following:
b = 'Practice Questions of List in Python'
a=list(b)
print(a)
print(len(a))
print(a[1:4])
print(a[1:7])
print(a[3:])
print(a[:5])
print(a[4:17])
print(a[-2:-5:-1])
print(a[1:7:1])
print(a[1:7:2])
print(a[-5:])
print(a[:4])
print(a[-2:-5:-2])
print(a[11:15])
print(a[:])
print(a[::2])
print(a[-5:-1])
print(a[7:1:-1])
print(a[3:-3])
print(a[30:40])
print(a[17:-1])
print(a[10::-1])

['P', 'r', 'a', 'c', 't', 'i', 'c', 'e', ' ', 'Q', 'u', 'e', 's', 't', 'i', 'o', 'n', 's', ' ', 'o', 'f', ' ', 'L', 'i', 's', 't', ' ', 'i', 'n', ' ', 'P', 'y', 't', 'h', 'o', 'n']
36
['r', 'a', 'c']
['r', 'a', 'c', 't', 'i', 'c']
['c', 't', 'i', 'c', 'e', ' ', 'Q', 'u', 'e', 's', 't', 'i', 'o', 'n', 's', ' ', 'o', 'f', ' ', 'L', 'i', 's', 't', ' ', 'i', 'n', ' ', 'P', 'y', 't', 'h', 'o', 'n']
['P', 'r', 'a', 'c', 't']
['t', 'i', 'c', 'e', ' ', 'Q', 'u', 'e', 's', 't', 'i', 'o', 'n']
['o', 'h', 't']
['r', 'a', 'c', 't', 'i', 'c']
['r', 'c', 'i']
['y', 't', 'h', 'o', 'n']
['P', 'r', 'a', 'c']
['o', 't']
['e', 's', 't', 'i']
['P', 'r', 'a', 'c', 't', 'i', 'c', 'e', ' ', 'Q', 'u', 'e', 's', 't', 'i', 'o', 'n', 's', ' ', 'o', 'f', ' ', 'L', 'i', 's', 't', ' ', 'i', 'n', ' ', 'P', 'y', 't', 'h', 'o', 'n']
['P', 'a', 't', 'c', ' ', 'u', 's', 'i', 'n', ' ', 'f', 'L', 's', ' ', 'n', 'P', 't', 'o']
['y', 't', 'h', 'o']
['e', 'c', 'i', 't', 'c', 'a']
['c', 't', 'i', 'c', 'e', ' ', 'Q', 'u', 'e', 's', 't', 'i', 'o', 'n', 's', ' ', 'o', 'f', ' ', 'L', 'i', 's', 't', ' ', 'i', 'n', ' ', 'P', 'y', 't']
['P', 'y', 't', 'h', 'o', 'n']
['s', ' ', 'o', 'f', ' ', 'L', 'i', 's', 't', ' ', 'i', 'n', ' ', 'P', 'y', 't', 'h', 'o']
['u', 'Q', ' ', 'e', 'c', 'i', 't', 'c', 'a', 'r', 'P']

In [33]:
#Q.7. Write the output of the following code :
T1 = (1, 2, 3, 4, 5, 6, 7, 8)
print(T1)
print(T1 * 2) 
print(T1 + T1) 
print(len(T1) * 2)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
16

In [37]:
#Q.8. Write the output of the following code :
T1 = (1, 2, 3, 4, 5, 6, 7, 8)
print(T1[0])
print(T1[-1])
print(T1[2 + 3])
print(T1[4 - 1])
print(T1[7%2])

1
8
6
4
2

In [38]:
#Q.9. Write the output of the following :
T1 = (23, 32, 4, 5, 2, 12, 23, 7, 9, 10, 23)
print(len(T1) + T1[-1]) 
print(T1[T1.count(23) + len(T1) -5])
print(T1.count(T1[6]))
print(T1.count(max(T1)))

34
10
3
1

In [39]:
#Q.10. Write the output of the following :
T1 = ('Hockey', 'Cricket', 'Football')
print(max(T1))
print(min(T1))

Hockey
Cricket

In [40]:
#Q.11. Write the output of the following :
T1 = ('Raman', 'Ram', 'Ramaiya')
print(max(T1))
print(min(T1))

Raman
Ram

In [44]:
#Q.12. Write the output of the following :
T1 = (23, 32, 4, 5, 2, 12, 23, 7, 9, 10, 23)
print(sorted(T1))
print(sorted(T1[2 : 7]))
print(T1.index(23))
print(T1.index(23, 3, 9))

[2, 4, 5, 7, 9, 10, 12, 23, 23, 23, 32]
[2, 4, 5, 12, 23]
0
6

In [51]:
#Q.13. Write the output of the following :
T1 = (23, 32, 4, 5, 2, 12, 23, 7, 9, 10, 23)
#print (sum(max(T1) + min(T1))) error has occured
t1 = max(T1) + min(T1)# we used this code
t1

34

In [55]:
#Q.14. Write a statement to print 30 from the given tuple.
a = ('Seventy', [1, 2, 3], (20, 30, 40), 'Eighty')
a[2][1]

30

In [56]:
#Q.15. Write the output.
p=10
q=20
p=p*q//4 #8
q=p+q**3 # 
print(p,q)

50 8050

In [57]:
#Q.16. Write the output.
x=2
y=6
x=x+y/2 + y//4
print(x)

6.0

In [67]:
#Q.17. Write the output of the following:
T = [1,2,3,4]
T1 = 3
T2 = T.append(T1)
print(T2)
#In this code, there's a misconception in the use of the append() method. The append() method in Python does not 
#return the modified list; it actually returns None. Therefore, assigning the result of T.append(T1) to T2 will set T2 as None.

None

In [68]:
#Q.18. Write the output
t1 = (1,2,4,3)
t2 = (1,2,3,4)
t1 < t2

False

In [73]:
#Q.19. Write the output
L1 = [1,2,3,4]
L2 = L1
L3 = L1.copy()
L4 = L3
L1[0] = [5]
print(L1, L2, L3, L4)

[[5], 2, 3, 4] [[5], 2, 3, 4] [1, 2, 3, 4] [1, 2, 3, 4]

In [81]:
#Q.20. Write the output
L1 = []
L1.append([1, [2, 3], 4])
L1.extend([7, 8, 9])
print(L1) 
print(L1[0][1][1] + L1[2])

[[1, [2, 3], 4], 7, 8, 9]
11

In [92]:
#Q.21. Write the output

t1 = (1, 23, 4, 5, 'A', ['C', 'D'], (23, 45), 45)
print(len(t1))
print(t1.index(45))
print(t1.count(45))
print([5][0]*2)
print(t1[:5])
print(t1[5:])
print(t1.index('A'))
print(t1[-1:-7:-2])
print(max(t1))
print(t1[4] + t1[5])

8
7
1
10
(1, 23, 4, 5, 'A')
(['C', 'D'], (23, 45), 45)
4
(45, ['C', 'D'], 5)

In [93]:
#Q. 22. Write the output
t1 = (1,2,3,4,5,6,7,8)
print(t1[0])
print(t1[-1])
print(t1[2+3])
print(t1[4-1])
print(t1[7%2])

1
8
6
4
2

In [94]:
#Q. 23 Write the output.

print("abc.DEF".capitalize())

Abc.def

In [104]:
#Q. 24 Write the output

print(2**(3**2)) 
print((2**3)**2) 
print(2**3**2)

512
64
512

In [105]:
#Q. 25.  Write the output
print(True**False/True)

1.0

In [106]:
#Q. 26. Write the output
all([2,4,0,6])

False