# String

In [18]:
"""Q1.write a code to get the following ouput....
output-: 'I love python program'"""
x ='i LoVe pYtHoN PrOGrAm'
x.capitalize()

'I love python program'

In [19]:
"""Q2.write a code to get the following ouput....
output-: 'I Love Python Program'"""
x.title()

'I Love Python Program'

In [20]:
"""Q3.write a code to get the following ouput....
output-: 'i love python program'"""
x.lower()

'i love python program'

In [21]:
"""Q4.write a code to get the following ouput....
output-: 'I LOVE PYTHON PROGRAM'"""
x.upper()

'I LOVE PYTHON PROGRAM'

In [22]:
"""Q5.write a code to get the following ouput....
output-: ['i', 'LoVe', 'pYtHoN', 'PrOGrAm']"""
x.split()

['i', 'LoVe', 'pYtHoN', 'PrOGrAm']

In [23]:
"""Q6.use format method to inject the following name and age
variable in given variable named string
output-: 'my name is python and my age is 30'"""
name="python"
age=30
string="my name is {} and my age is {}"
formatted_string = string.format(name, age)
print(formatted_string)

my name is python and my age is 30

In [34]:
"""Q7.write a code to retrieve the word 'pYtHoN' by using slicing
from variable x
output-: 'pYtHoN'"""
x.split(',')
x[7:13]

'pYtHoN'

# Tuple

In [7]:
t = (2,1,4,6,2,1,4,1,2,7,1)
#Q1.write the code to count the frequency of 1
t.count(1)

4

In [13]:
#Q2.write a code to merge tuple t with (11,12,13,14) & store in variable named newt
sample = list(t)
sample.extend([11,12,13,14])
newt = tuple(sample)
newt

(2, 1, 4, 6, 2, 1, 4, 1, 2, 7, 1, 11, 12, 13, 14)

# List

In [68]:
x = [2,4,6,8,10]
#Q1.write a code to add a element 'eleven' , inside list at the end
#output-:[2,4,6,8,10,'eleven']
x.append('eleven')
x

[2, 4, 6, 8, 10, 'eleven']

In [69]:
#Q2.perform an operation to get the following output
#output-: ['one', 2, 4, 6, 8, 10, 'eleven']
x.insert(0,'One')
x

['One', 2, 4, 6, 8, 10, 'eleven']

In [70]:
#Q3.perform an operation to merge the list y inside list x
#output-: ['one', 2, 4, 6, 8, 10, 'eleven', 12, 13, 14]
y= [12,13,14]
x.extend(y)
x

['One', 2, 4, 6, 8, 10, 'eleven', 12, 13, 14]

In [71]:
#Q4.perform an operation to get the following output
#output-: [14, 13, 12, 'eleven', 10, 8, 6, 4, 2, 'one']
x[::-1]

[14, 13, 12, 'eleven', 10, 8, 6, 4, 2, 'One']

In [72]:
#Q5.Perform one single operation to remove 'eleven', 10, 8 all together at once
#output-: [14, 13, 12, 6, 4, 2, 'one']
original_list = [14, 'eleven', 13, 12, 10, 8, 6, 4, 2, 'one']
result_list = [x for x in original_list if x not in ['eleven', 10, 8]]
print(result_list)

[14, 13, 12, 6, 4, 2, 'one']

In [74]:
#Q6.write a code to remove 'one' element from the list
#output-: [14, 13, 12, 6, 4, 2]
x.remove('One')
x

[2, 4, 6, 8, 10, 'eleven', 12, 13, 14]

In [84]:
#Q7.write a code to get the following output
x = ["hey","there","hello","world"]
y= " "
#output-: 'hey there hello world'
y = y.join(x)
y

'hey there hello world'

# Set

In [88]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8,9}
#Q1. Write a code to perform union operation on a and b set
x = a.union(b)
x

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [89]:
#Q2. Write a code to perform intersection operation on set a and b
y = a & b
y

{3, 4, 5}

In [91]:
#Q3. Write a code to add 6, in set a
a.add(6)
a

{1, 2, 3, 4, 5, 6}

# Dictionary

In [20]:
d = {'a':10,'b':30,'c':50,'d':100}
#Q1.write a code to update the value of key 'b' to 300
#output-: {'a':10,'b':300,'c':50,'d':100}
d['b'] = 300
d

{'a': 10, 'b': 300, 'c': 50, 'd': 100}

In [21]:
#Q2.write a code to check if key 'e' is present in dictionary d
#if it 'e' is not present in d, then it should return 'e key does not
#exist'
#output-: 'e key does not exist'
d = {'a':10,'b':30,'c':50,'d':100}
if 'e' in d:
    print('exists')
else:
    print('does not exist')

does not exist

In [22]:
#Q3.write a code to add new key,value i.e 'e',600 respectively
#inside dictionary d
#output-: {'a':10,'b':300,'c':50,'d':100,'e':600}
d.update({'e':600})
d

{'a': 10, 'b': 30, 'c': 50, 'd': 100, 'e': 600}

In [23]:
#Q4.write a code to display all the values from the dictionary
#output-: dict_values([10, 300, 50, 100, 600])
d.values()

dict_values([10, 30, 50, 100, 600])

In [24]:
#Q5.write a code to merge the dictionary x inside dictionry d
x = {'i':11,'j':12,'k':13,'l':14}
#output-: {'a':10,'b':300,'c':50,'d':100,'e':600,'i':11,'j':12,'k':13,'l':14}
d.update(x)
print(d)

{'a': 10, 'b': 30, 'c': 50, 'd': 100, 'e': 600, 'i': 11, 'j': 12, 'k': 13, 'l': 14}

In [25]:
#Q6.write a code to remove the key 'j' from dictionary d
#output-: {'a':10,'b':300,'c':50,'d':100,'e':600,'i':11,'k':13,'l':14}
d.pop('j')
print(d)

{'a': 10, 'b': 30, 'c': 50, 'd': 100, 'e': 600, 'i': 11, 'k': 13, 'l': 14}

# Operators

In [1]:
#Area of triangle (0.5*b*h)
b = 5
h = 10
Area_of_triangle = (0.5*b*h)
print(Area_of_triangle)

25.0

In [2]:
#vol of sphere(4/3)*3.14*(r**3)
r = 5
vol_of_sphere = (4/3)*3.14*(r**3)
print(vol_of_sphere)

523.3333333333334

In [4]:
#Swap the variable x=10,y=5
#o/p -: x is 5 & y is 10
x=10
y=5
x,y = y,x
x,y

(5, 10)

In [11]:
#WAP which takes two numbers as input and it should calculate & 
#display all the arithmetic operation
x = int(input('enter your no : ',))
y = int(input('enter your no : ',))
print(x+y)
print(x*y)
print(x-y)
print(x/y)
print(x//y)
print(x%y)

enter your no : 7
enter your no : 5
12
35
2
1.4
1
2

# Flow Control

In [19]:
#WAP which takes an arithmetic operators & 2 numbers, as an and 
#do the calculation based on the input operator
a = int(input('Enter your first number: '))
b = int(input('Enter your second number: '))
op = input('Enter operator (+, -, *, /): ')

if op == '+':
    result = a + b
elif op == '-':
    result = a - b
elif op == '*':
    result = a * b
elif op == '/':
    result = a / b if b != 0 else "Division by zero is not allowed."
else:
    result = "Invalid operator"

print("Result:", result)

Enter your first number: 7
Enter your second number: 5
Enter operator (+, -, *, /): *
Result: 35

In [20]:
#WAP to calculate area of triangle --> 0.5*b*h
b = 7
h = 18
Area_of_triangle = (0.5*b*h)
print(Area_of_triangle)

63.0

In [21]:
#WAP to calculate vol of sphere --> (4/3)*3.14*(r**3)
r = 8
vol_of_sphere = (4/3)*3.14*(r**3)
print(vol_of_sphere)

2143.5733333333333

In [25]:
#WAP for check a number is leap year or not by using following constraints-:
#Constraints-:
#1. N div by 400 --> leap year
#2. N div by 4 , N not div by 100 --> leap year
n = int(input('enter leap year : ',))
if n%400==0 or (n%4==0 & n%100!=0):
    print(n,"is leap year")
else:
    print(n,"not leap year")

enter leap year : 2000
2000 is leap year

In [34]:
"""WAP to display the grade given a mark by using following constraint-:
Constraints -:
75 & above -: A grade
60-74 -: B grade
35-59 -: C grade
Below 35 -: Fail"""
n = int(input("enter your percentage : ",))
if n>=75:
    print('A grade')
elif n>=60:
    print("B grade")
elif n>35:
    print('C grade')
else:
    print('fail')

enter your percentage : 67
B grade

In [37]:
#WAP to check weather the number is even or odd
#Constraints-:
#N div by 2 → even
n = int(input('enter your no : ',))
if n%2==0:
    print(n,'is even')
else:
    print(n,'is odd')

enter your no : 6
6 is even

# Loops

In [39]:
#WAP to print 1-10 using for loop
for i in range(11):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10

In [41]:
#WAP to print 10-1 using for loop
for i in range(10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [45]:
n = int(input("Enter the number of terms: "))

# Initializing the first two terms of the Fibonacci series
a, b = 0, 1

# Printing the Fibonacci series using a for loop
for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter the number of terms: 5
0 1 1 2 3

In [47]:
#WAP to calculate the factorial of number using for loop
n = int(input('enter your no : '))
fact = 1
for i in range(1,n+1):
    fact = fact*i
print(fact)

enter your no : 5
120

In [48]:
#WAP to add 1st nth natural using for loop
num = int(input('enter your no : '))
sum = 0
for i in range(1,num+1):
    sum+=i
print(sum)

enter your no : 5
15

In [51]:
#WAP to print the table of given N using for loop
num = int(input('enter your no : '))
for i in range(1,11):
    print(num,'x',i,"=",num*i)

enter your no : 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [1]:
#WAP to print 1-10 using while loop
i = 1
while i<=10:
    print(i,end=" ")
    i+=1

1 2 3 4 5 6 7 8 9 10

In [4]:
#WAP to print 10-1 using while loop
i = 10
while i>=1:
    print(i,end=" ")
    i = i-1

10 9 8 7 6 5 4 3 2 1

In [3]:
#WAP to calculate factorial of given input n using while loop
num = int(input('enter your no : '))
fact = 1
i = 1
while i<=num:
    fact = fact*i
    i+=1
print(fact)

enter your no : 5
120

In [6]:
#WAP to print the sum of 1st nth natural numbers using while loop
num = int(input('enter your no : '))
sum = 0
i = 1
while i<=num:
    sum=sum+i
    i+=1
print(sum)

enter your no : 5
15

In [10]:
#WAP to print fibonacci series till nth input value using while loop
num = int(input('enter your no : '))
a,b = 0,1
while a<=num:
    print(a,end=" ")
    a,b = b,a+b

enter your no : 5
0 1 1 2 3 5

In [12]:
#WAP to print the table of given N using while loop
num = int(input('enter your no : '))
i = 1
while i<=10:
    print(num,"x",i,"=",num*i)
    i+=1

enter your no : 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [16]:
#WAP to list out all the leap years from 1900-2030 using for loop
leap_year = []
for i in range(1900,2030):
    if i%400==0 or (i%4==0 and i%100!=0):
        leap_year.append(i)
print(leap_year)

[1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028]

In [20]:
#WAP to give all the even and odd number in list from 1-100 using for loop
even = []
odd = []
for i in range(1,101):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [8]:
#wap to reverse a number
#input -: 7546
#ouput -: 6457
n = int(input('enter your no : '))
rev = 0
while n!=0:
    rem = n%10
    rev = (rev*10)+rem
    n = n//10
print(rev)

enter your no : 9087
7809

In [5]:
#WAP to check whether the given number is palindrome or not
#input -: 676
#ouput -: 676
n = int(input('enter your no : '))
temp = n
rev = 0
while temp!=0:
    rem = temp%10
    rev = (rev*10)+rem
    temp = temp//10
if n==rev:
    print(n,"is a palindrome")
else:
    print(rev)

enter your no : 656
656 is a palindrome

In [14]:
#WAP to check whether the given number is armstrong or not
n = int(input("enter your no : ",))
n1 = n
n2 = n
c = 0
tot = 0
#count the digits
while n!=0:
    n = n//10
    c = c+1

while n1!=0:
    rem = n1%10
    tot = tot + (rem**c)
    n1 = n1//10
    
if tot==n2:
    print(n2,"is armstrong")
else:
    print(n2,'is not armstrong')

enter your no : 152
152 is not armstrong

In [22]:
#WAP to check whether the given number is Strong or not
n = int(input('enter your no : '))
n1 = n
tot = 0
while n!=0:
    rem = n%10
    f = 1
    for i in range(1,rem+1):
        f = f*i
    tot = tot + f
    n = n//10
if n1==tot:
    print(n1,'is a strong no')
else:
    print(n1,'is not a strong No')

enter your no : 145
145 is a strong no

In [26]:
#WAP to check whether the given number is Neon or not
n = int(input("enter your no : "))
s = n*n
sm = 0
while s!=0:
    rem = s%10
    sm = sm+rem
    s = s//10
if sm == n:
    print(n,"is neon no")
else:
    print(n,'is not a neon no')

enter your no : 9
9 is neon no

In [19]:
#WAP to check whether the given number is perfect or not
n = int(input('enter your no : ',))
sm = 0
for i in range(1,n):
    if n%i==0:
        sm=sm+i
if sm==n:
    print(n,'is a perfect no')
else:
    print(n,'is not a perfect no')

enter your no : 28
28 is a perfect no

In [1]:
#WAP to perform linear Search
# Example list
my_list = [3, 9, 2, 7, 1, 5]
target_element = 7

index = -1  # Initialize index as -1, indicating not found initially

# Linear search without using a function
for i in range(len(my_list)):
    if my_list[i] == target_element:
        index = i  # Update index if the target is found
        break  # Exit the loop once the target is found

if index != -1:
    print(f"Element {target_element} found at index {index}.")
else:
    print(f"Element {target_element} not found in the list.")

Element 7 found at index 3.

In [2]:
#Wap to perform Binary Search
# Example list (Assuming the list is sorted)
my_list = [1, 3, 5, 7, 9, 11, 13, 15, 17]
target_element = 11

left = 0
right = len(my_list) - 1
found = False

while left <= right:
    mid = (left + right) // 2
    if my_list[mid] == target_element:
        found = True
        print(f"Element {target_element} found at index {mid}.")
        break
    elif my_list[mid] < target_element:
        left = mid + 1
    else:
        right = mid - 1

if not found:
    print(f"Element {target_element} not found in the list.")

Element 11 found at index 5.

In [3]:
#Wap to perform BubbleSort
# Example list to be sorted
my_list = [64, 34, 25, 12, 22, 11, 90]
print("Original list:", my_list)

n = len(my_list)

# Perform Bubble Sort without using a function
for i in range(n - 1):
    swapped = False
    for j in range(0, n - i - 1):
        if my_list[j] > my_list[j + 1]:
            # Swap elements if they are in the wrong order
            my_list[j], my_list[j + 1] = my_list[j + 1], my_list[j]
            swapped = True
    
    # If no two elements were swapped in the inner loop, the list is already sorted
    if not swapped:
        break

print("Sorted list:", my_list)

Original list: [64, 34, 25, 12, 22, 11, 90]
Sorted list: [11, 12, 22, 25, 34, 64, 90]

In [ ]:
#Wap to perform MergeSort
# Example list to be sorted
my_list = [64, 34, 25, 12, 22, 11, 90]
print("Original list:", my_list)

stack = []
n = len(my_list)

# Splitting the list into individual elements as separate lists
for i in range(n):
    stack.append([my_list[i]])

# Merging the lists in pairs until only one list remains
while len(stack) > 1:
    if len(stack) % 2 == 0:
        temp = []
    else:
        temp = stack.pop()

    for i in range(0, len(stack), 2):
        merged = []
        left = stack[i]
        right = stack[i + 1] if i + 1 < len(stack) else temp

        # Merging two lists in sorted order
        l = r = 0
        while l < len(left) and r < len(right):
            if left[l] < right[r]:
                merged.append(left[l])
                l += 1
            else:
                merged.append(right[r])
                r += 1

        # Adding remaining elements from left and right lists
        merged.extend(left[l:])
        merged.extend(right[r:])
        stack.append(merged)

# The final sorted list
sorted_list = stack[0]
print("Sorted list:", sorted_list)

Original list: [64, 34, 25, 12, 22, 11, 90]

# List comprehension

In [2]:
#using list comprehension store all the even numbers from 1 to 100 in a list
even = [n for n in range(1,101) if n%2==0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [7]:
#using list comprehension store all Leap year from 1900 to 2030 in a list
leap_year = [n for n in range(1900,2031)if n%400==0 or (n%4==0 and n%100!=0)]
print(leap_year)

[1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028]

In [10]:
#using list comprehension, store cubes of natural number from 1-20 in a list
cubes = [n**3 for n in range(1,21)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]

In [18]:
library =[('book1',2002),('book2',2012),('book3',2007),('book4',2015),('book5',2005),('book6',2018)]
#Given a list lib, using list comprehension store all the books that was published after 2010
library = [('book1', 2002), ('book2', 2012), ('book3', 2007), ('book4', 2015), ('book5', 2005), ('book6', 2018)]

books_after_2010 = [book for book in library if book[1] > 2010]
print(books_after_2010)

[('book2', 2012), ('book4', 2015), ('book6', 2018)]

In [20]:
grammar = ['is','not','am','are','do','did','no','will','never','shall','none','was','nor']
#Given a list grammar, using list comprehension, filter all the negative words that starts with 'n'
negative_words_starting_with_n = [word for word in grammar if word.startswith('n')]
print(negative_words_starting_with_n)

['not', 'no', 'never', 'none', 'nor']

In [22]:
x= [1,2,3]
y=['a','b','c']
#Given two list x and, using list comprehension take the cross product of x and y-:
#output-:[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]
cross_product = [(i, j) for i in x for j in y]
print(cross_product)

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [26]:
"""
print the following start parttern-:
start parttern 1
*
**
***
****
"""
for i in range(1,5):
    print('*'*i)

*
**
***
****

In [28]:
"""start parttern 2
****
***
**
*"""
for i in range(4,0,-1):
    print("*"*i)

****
***
**
*

In [30]:
"""start parttern 3
*
**
***
****
***
**
*
"""
for i in range(1,5):
    print("*"*i)
for i in range(3,0,-1):
    print("*"*i)

*
**
***
****
***
**
*

# Functions

In [31]:
#Create a function to calculate the the area of triangle
def area(b,h):
    return 0.5*b*h
area(4,5)

10.0

In [32]:
#Create a function that calculates the the volume of sphere
def vol_of_sphere(r):
    return (4/3)*3.14*(r**3)
vol_of_sphere(5)

523.3333333333334

In [37]:
#Explain what is default and required arguments with an example of each
def default(x,y=4):
    return x**y
print(default(3))

def required(m,n):
    return m//n
print(required(10,3))
print(required(10))

81
3

TypeError: required() missing 1 required positional argument: 'n'

In [9]:
#Explain what is variable length arguments i.e *args & **kwargs with an example of each
def my_function(*kids):
    print("The youngest child is " +  kids[2])
my_function('a','b','c')

The youngest child is c

In [10]:
def new_function(**boy):
    return ('The lastname is '+ boy['lname'])
new_function(fname = 'kunal',lname = 'more')

'The lastname is more'

In [18]:
#WAP to check whether the given number is prime or not
n = int(input("enter your no : ",))
c = 0
if n==0:
    print('no is not prime')
else:
    for i in range(2,n):
        if (n%i)==0:
            c=c+1
    if c==0:
        print('no is prime')
    else:
        print('no is not prime')

enter your no : 17
no is prime

In [17]:
#WAP to create function of prime no 
def prime(n):
    c = 0
    if n==1:
        print('no is not prime')
    else:
        for i in range(2,n):
            if (n%i)==0:
                c=c+1
        if c==0:
            return n,'no is prime'
        else:
            return n,'no is not prime'
prime(7)

(7, 'no is prime')

In [23]:
#WAP to create a function of perfect number
def perfect(n):
    sm = 0
    for i in range(1,n):
        if (n%i)==0:
            sm=sm+i
    if sm==n:
        print('no is perfect')
    else:
        print('no is not perfect')
perfect(28)

no is perfect

In [28]:
def neon(n):
    s = n*n
    sm = 0
    while s!=0:
        rem=s%10
        sm = sm+rem
        s = s//10
    if sm==n:
        print(n,'no is neon')
    else:
        print(n,'no is not neon')
neon(9)

9 no is neon

In [30]:
#Explain what is lambda function with the help of example
x = (lambda a,b,c : a*b+c)(5,6,7)
x

37

In [3]:
#WAP for factorial using recurrsion
def factorial(no):
    if no==0:
        return 1
    else:
        return no * factorial(no-1)
print("factorial of no : ",factorial(9))

factorial of no :  362880

In [4]:
#WAP for fibonacci series using recurrsion using one of the memoization technique
def fibo(n):
    a,b=0,1
    for i in range(n):
        print(a,end=" ")
        a,b=b,a+b
fibo(5)

0 1 1 2 3

In [8]:
#Q.Item with highest value count
items = [{'apple': 5}, {'banana': 8}, {'orange': 7}, {'grapes': 4}]
def item_With_Highest_Value(items):
    return max(items,key=lambda x : list(x.values())[0])
result = item_With_Highest_Value(items)
print("Item with the highest value count:", result)

Item with the highest value count: {'banana': 8}

In [18]:
#Create a lambda function to sort the name list according to their surname.
name = ["jay A kumar",'deepak N sharma','rohit N yadav','mithilesh singh','payal vasave','FahadMomin']
#o/p-:['jay A kumar', 'Fahad Momin', 'deepak N sharma', 'mithilesh singh', 'payal vasave', 'rohit Nyadav']
name1 = sorted(name,key=lambda x : x.split()[-1])
name1

['FahadMomin',
 'jay A kumar',
 'deepak N sharma',
 'mithilesh singh',
 'payal vasave',
 'rohit N yadav']

In [20]:
#using map function, create a lambda expression to convert the degree celcius to fahrenheit
temp = [('kashmir',1),('mumbai',16),('goa',22),('channai',18),('kerla',20)]
#Formula to convert fahrenheit to celsius, f = 9/5 x c + 32
#o/p-:[('kashmir', 33.8), ('mumbai', 60.8), ('goa', 71.6), ('channai', 64.4), ('kerla', 68.0)]
temps = [('kashmir', 1), ('mumbai', 16), ('goa', 22), ('channai', 18), ('kerla', 20)]

# Lambda function to convert Celsius to Fahrenheit
convert_to_fahrenheit = lambda temps: (temps[0], (9/5) * temps[1] + 32)

# Applying the lambda function using map
converted_temps = list(map(convert_to_fahrenheit, temps))
print(converted_temps)

[('kashmir', 33.8), ('mumbai', 60.8), ('goa', 71.6), ('channai', 64.4), ('kerla', 68.0)]

In [21]:
#1. Give example of zip(), abs(), round(),pow() function
# Example of zip()
numbers = [1, 2, 3]
letters = ['a', 'b', 'c']

zipped = list(zip(numbers, letters))
print(zipped)  # Output: [(1, 'a'), (2, 'b'), (3, 'c')]
# Example of abs()
num = -10
abs_value = abs(num)
print(abs_value)  # Output: 10
# Example of round()
value = 3.14159
rounded_value = round(value, 2)
print(rounded_value)  # Output: 3.14
# Example of pow()
base = 2
exponent = 3
result = pow(base, exponent)
print(result)  # Output: 8

[(1, 'a'), (2, 'b'), (3, 'c')]
10
3.14
8

In [24]:
mylist = [11,14,5,78,45,67,9,88,10,303]
#a) apply filter to create a list of palindrome numbers from mylist
#b) apply filter to create a list of numbers divisible by 3 or 5 from the mylist
pal_no = list(filter(lambda x : str(x)==str(x)[::-1],mylist))
print(pal_no)
even_no = list(filter(lambda x : x%3==0 or x%5==0,mylist))
print(even_no)

[11, 5, 9, 88, 303]
[5, 78, 45, 9, 10, 303]

In [25]:
#3. WAP to find maximum number from the list without using function and slicing or sorting function
my_list = [11, 14, 5, 78, 45, 67, 9, 88, 10, 303]
max_num = my_list[0]
for num in my_list:
    if num > max_num:
        max_num=num
print(max_num)

303

In [27]:
#4. WAP to find Minimum number from the list without using function and slicing or sorting function
my_list = [11, 14, 5, 78, 45, 67, 9, 88, 10, 303]
min_num=my_list[0]
for num in my_list:
    if num<min_num:
        min_num=num
print(min_num)

5

In [28]:
#5. WAP to get second highest value from the list without using sort function
my_list = [11, 14, 5, 78, 45, 67, 9, 88, 10, 303]
unique_nums = set(my_list)
if len(unique_nums)<2:
    print('list has less than 2 nos')
else:
    my_list.remove(max(my_list))
print(max(my_list))

88

In [30]:
#6. WAP to get second lowest value from the list without using sort function
my_list = [11, 14, 5, 78, 45, 67, 9, 88, 10, 303]
if len(my_list)<2:
    print('list has less than 2 nos')
else:
    my_list.remove(min(my_list))
print(min(my_list))

9