In [2]:
#1 Create list of your name,age, field ,location using [] and list constructor
kunal = ['kunal',24,'data scientist','mumbai']
kunal

['kunal', 24, 'data scientist', 'mumbai']

In [3]:
#2 print only your field using index method
kunal[2]

'data scientist'

In [4]:
#3 print the position of location element
kunal.index('mumbai')

3

In [5]:
#4 print element btw age and locaton ,using forward and backward indexing
kunal[2:3]

['data scientist']

In [6]:
#5 replace the element of name with surname
kunal[0] = 'more'
kunal

['more', 24, 'data scientist', 'mumbai']

In [7]:
#6 replace the element of name ,age and field
new_info = ['ayush',17,'doctor']
kunal[0:3] = new_info
kunal

['ayush', 17, 'doctor', 'mumbai']

In [8]:
#7 replace the element of name,age with only surname
kunal[0:2] = ['more']
kunal

['more', 'doctor', 'mumbai']

In [9]:
#8 replace the element of name with your nickname and surname'
kunal[0] = ['bhai','more']
kunal

[['bhai', 'more'], 'doctor', 'mumbai']

In [10]:
#9 add your surname in the list after your first name
kunal[0:2] = ['kunal','more']
kunal

['kunal', 'more', 'mumbai']

In [11]:
kunal.append('watching movies')
kunal

['kunal', 'more', 'mumbai', 'watching movies']

In [12]:
#11 add your n-numbers of hobbies at the end of list
kunal.extend(['football','cricket','basketball'])
print(kunal)

['kunal', 'more', 'mumbai', 'watching movies', 'football', 'cricket', 'basketball']

In [13]:
#12 remove your location from list
kunal.remove('mumbai')
kunal

['kunal', 'more', 'watching movies', 'football', 'cricket', 'basketball']

In [14]:
#13 remove your age from list[using 2 methods]
kunal.append(24)
kunal.remove(24)
#kunal.pop(6)
kunal

['kunal', 'more', 'watching movies', 'football', 'cricket', 'basketball']

In [15]:
#14 remove last element from the list
kunal.pop()
kunal

['kunal', 'more', 'watching movies', 'football', 'cricket']

In [16]:
#15 remove all element from the list(empty)
kunal.clear()
kunal

[]

In [17]:
#16 delete the list
del kunal

In [26]:
#17 create a list of prime numbers till 20 and find the length of it
prime = [1,3,5,7,11,13,17,19]
len(prime)

8

In [27]:
#18 create a list of 5,2,18,7,12 and print in ascending and descending order
list1 = [5,2,18,7,12]
list1.sort()
print(list1)
list1.reverse()
print(list1)

[2, 5, 7, 12, 18]
[18, 12, 7, 5, 2]

In [28]:
#19 merge two list
list2 = prime + list1
list2

[1, 3, 5, 7, 11, 13, 17, 19, 18, 12, 7, 5, 2]

In [29]:
#20 make a deep copy of list and check whether it is copying deeply or not
list3 = prime
print(list3)
prime.append(23)
print(list3)

[1, 3, 5, 7, 11, 13, 17, 19]
[1, 3, 5, 7, 11, 13, 17, 19, 23]

In [31]:
#21 make a copy of list in that way  making changes in one list will not affect to the another list
list4 = prime.copy()
print(list4)
prime.append(29)
print(prime)
print(list4)

[1, 3, 5, 7, 11, 13, 17, 19, 23]
[1, 3, 5, 7, 11, 13, 17, 19, 23, 29]
[1, 3, 5, 7, 11, 13, 17, 19, 23]

In [32]:
#22 Take any example to  explain stack and queue 
#working of append() and pop() function:
# stack using list
stack = ["Amar", "Akbar", "Anthony"]
stack.append("Ram")
stack.append("Iqbal")
print(stack)

['Amar', 'Akbar', 'Anthony', 'Ram', 'Iqbal']

In [33]:
stack.pop()
stack.pop()
print(stack)

['Amar', 'Akbar', 'Anthony']

In [35]:
# queue using list 
queue = ["Amar", "Akbar", "Anthony"]
queue.append("Ram")
queue.append("Iqbal")
print(queue)
queue.pop(0)
queue.pop(0)
print(queue)

['Amar', 'Akbar', 'Anthony', 'Ram', 'Iqbal']
['Anthony', 'Ram', 'Iqbal']

In [39]:
#23 zip four list contain with natural number your name,age, rollno
no = (1,2,3,4)
name = ('kunal','ayush','sushil','priya')
age = (21,22,23,24)
rollno = (100,101,102,103)
mapped = zip(no,name,age,rollno)
mapped = list(mapped)
print(mapped)

[(1, 'kunal', 21, 100), (2, 'ayush', 22, 101), (3, 'sushil', 23, 102), (4, 'priya', 24, 103)]

In [43]:
#24 unzip the above list
no,name,age,rollno = zip(*mapped)
print(no)
print(name)
print(age)
print(rollno)

(1, 2, 3, 4)
('kunal', 'ayush', 'sushil', 'priya')
(21, 22, 23, 24)
(100, 101, 102, 103)